.iconBlockComponent {
  border: 1px solid darkblue;
  border-radius: 3px;
  margin-bottom: 30px;
}

.blockTitle {
  cursor: pointer;
  padding: 10px 0 10px 20px;

  &__title {
    color: #3366BB;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    position: relative;

    &.open:after {
      transform: rotate(90deg);
    }

    &:after {
      position: absolute;
      right: -10px;
      display: inline-block;
      transform: rotate(270deg);
      content: '\203A';
    }
  }
}

.icon {
  display: inline-grid;
  grid-template-columns: 32px 160px;
  align-items: center;
  margin: 10px 0;
  grid-gap: 0.3em;
  padding-left: 20px;
}

.iconList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  align-items: center;
  transition: all 1s;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0 0 20px 40px;

  &.open {
    opacity: 1;
    max-height: none;
  }
}

.svg-image {
  &.fill-default {

  }

  &.fill-blue {
    svg *{
      fill: #0097DA;
    }
  }

  &.fill-red {
    svg *{
      fill: #EE4E4E;
    }
  }

  &.fill-green {
    svg *{
      fill: #95BB33;
    }
  }

  &.fill-orange {
    svg *{
      fill: #EC931E;
    }
  }
}
