<div class="iconBlockComponent">
  <div class="blockTitle" (click)="isHidden = !isHidden">
    <span [ngClass]="{'blockTitle__title': true, 'open':isHidden}">Size: {{iconGroup['key']}}</span>
  </div>
  <div [ngClass]="{'open': !isHidden, 'iconList': true}">
    <div *ngFor="let icon of iconGroup['value']">
      <div class="icon">
        <span class="svg-image" ngClass="fill-{{colorScheme}}" [innerHTML]="icon.iconVsg"></span>
        <span>{{icon.title}}</span>
      </div>
    </div>
  </div>
</div>

