<h3>Icons list</h3>
<app-color-scheme (onChangeColorScheme)="setColorScheme($event)"></app-color-scheme>
<div class="form-group">
  <app-search-input (onChangeInputValue)="setFilter($event)"></app-search-input>
</div>
<div class="iconBlock">
  <div *ngFor="let iconGroup of iconList | iconListFilterByTitle:searchTerm | groupBy:'size'">
    <app-icons-block [iconGroup]="iconGroup"
                     [colorScheme]="colorScheme"></app-icons-block>
  </div>
</div>

