.ColorSchemeComponent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 0.3em;
  grid-template-rows: 30px;
margin-bottom: 20px;
  input {
    display: none;
  }

  label {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: border-radius ease 0.5s;
    &.checked {
      border-radius: 20px;
    }
    &:hover {
      border-radius: 20px;
    }

    &.button {
      &-default {
        color: black;
        background: #D7D7D7;;
      }

      &-blue {
        background: #0097DA;
      }

      &-red {
        background: #EE4E4E;
      }

      &-green {
        background: #95BB33;
      }

      &-orange {
        background: #EC931E;
      }
    }
  }

}
input:checked {
  color: black;
}
