<div class="ColorSchemeComponent">
  <label class="button-default" [ngClass]="{'checked':value==='default'}">
    <input type="radio" value="default" name="color-scheme" [formControl]="colorSchemeControl"> Default
  </label>
  <label class="button-blue" [ngClass]="{'checked':value==='blue'}">
    <input type="radio" value="blue" name="color-scheme" [formControl]="colorSchemeControl"> Blue
  </label>
  <label class="button-green" [ngClass]="{'checked':value==='green'}">
    <input type="radio" value="green" name="color-scheme" [formControl]="colorSchemeControl"> Green
  </label>
  <label class="button-red" [ngClass]="{'checked':value==='red'}">
    <input type="radio" value="red" name="color-scheme" [formControl]="colorSchemeControl"> Red
  </label>
  <label class="button-orange" [ngClass]="{'checked':value==='orange'}">
    <input type="radio" value="orange" name="color-scheme" [formControl]="colorSchemeControl"> Orange
  </label>
</div>

